@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');

:root{
    --orange:#e50914;
    --white-color:#fff;
    --black-color:#333;
    --light-color:rgba(0,0,0,.3);
}

*{
    font-family: 'Source Sans Pro','El Messiri', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:.2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7.5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:var(--white-color);
}

html::-webkit-scrollbar-thumb{
    background:var(--black-color);
    border-radius: 5rem;
}

body{
    background:#eee;
}

body.active{
    --white-color:#111;
    --black-color:#fff;
    --light-color:rgba(255,255,255,.3);
    background:#222;
}

section{
    padding:1rem 9%;
}

.heading{
    padding:1rem 0;
    text-align: center;
    margin-bottom: 2rem;
    border-bottom: .1rem solid var(--light-color);
    font-size: 3rem;
    color:var(--black-color);
    text-transform: uppercase;
}

.heading span{
    color:var(--orange);
    text-transform: uppercase;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--black-color);
    color:var(--white-color);
    font-size: 1.8rem;
    padding:.9rem 3.5rem;
    cursor: pointer;
}

.btn:hover{
    background:var(--orange);
    color:#fff;
}

.disabled{
    pointer-events: none;
    user-select: none;
    opacity: .5;
 }

.message{
    position: sticky;
    top:0;
    max-width: 1200px;
    margin:1rem auto;
    background-color: var(--light-bg);
    color: var(--black-color);
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1.5rem;
    z-index: 1100;
}

.message span{
   font-size: 2rem;
   color:var(--black);
}

.message i{
   cursor: pointer;
   color:var(--red);
   font-size: 2.5rem;
}

.message i:hover{
   color:var(--black);
}

.empty{
   padding:1.5rem;
   background-color: var(--white-color);
   border: .1rem solid var(--light-color);
   text-align: center;
   color:var(--orange);
   border-radius: .5rem;
   font-size: 2rem;
   text-transform: capitalize;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white-color);
    border-bottom: .1rem solid var(--light-color);
    padding:1.5rem 9%;
}

header .logo{
    text-transform: uppercase;
    font-weight: bolder;
    color:var(--black-color);
    font-size: 3rem;
}

header .logo span{
    color:var(--orange);
}

header form{
    display: flex;
    align-items: center;
    width: 40rem;
    border-radius: 5rem;
    height: 5rem;
    background: var(--black-color);
    overflow:hidden;
}

header form input{
    width: 100%;
    height: 100%;
    background: none;
    font-size: 1.7rem;
    color:var(--white-color);
    padding:0 2rem;
    text-transform: none;
}

header form label{
    font-size: 2rem;
    padding-right: 2rem;
    color:var(--white-color);
    cursor: pointer;
}

header form label:hover{
    color:var(--orange);
}

header .icons {
    position: relative;
}

header .icons div,
header .icons a:not(#lang){
    height: 4rem;
    width: 4rem;
    font-size: 1.7rem;
    line-height: 4rem;
    background: var(--black-color);
    color:var(--white-color);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: .7rem;
}


header .icons div:hover,
header .icons a:hover:not(#lang){
    background: var(--orange);
    color:#fff;
    transform: rotate(360deg);
}

header.active{
    position: fixed;
    top:0; left: 0;
    z-index: 100;
}

.fa-shopping-cart{
    position: relative;
}

.fa-shopping-cart span{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--orange);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    top: -1rem;
    right: -1rem;
}

/******************/


.header .lang-menu {
    position: absolute;
    top: 6.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    border-radius: 0.5rem;
    border: 0.1rem solid var(--light-color);
    padding: 2rem;
    width: 22rem;
    padding-top: 1.2rem;
    display: none;
    background-color: var(--white-color);
}


.header .lang-menu li {
    display: flex;
    gap: 1rem;
    align-items: center;
}


.header .lang-menu li img {
    width: 25%;
}

.header .lang-menu li button {
    font-size: 2rem;
    color: var(--black-color);
    cursor: pointer;
    background-color: transparent;
}

.header .lang-menu li:hover button {
    color: var(--orange);
}

.header .lang-menu.active {
    display: block;
    z-index: 100;
}


/*****************/


.home{
    min-height: 90vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
}

.home .content{
    flex:1 1 40rem;
}

.home .image{
    flex:1 1 40rem;
    text-align: center;
}

.home .image img{
    width:30vw;
}

.home .content span{
    color:var(--orange);
    font-size: 3rem;
}

.home .content h3{
    color:var(--black-color);
    font-size: 8rem;
    text-transform: uppercase;
}

.category .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.category .box-container .box{
    height: 30rem;
    flex:1 1 40rem;
    border-radius: .5rem;
    position: relative;
    overflow:hidden;
}

.category .box-container .box img{
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}

.category .box-container .box:hover img{
    transform: scale(1.1);
}

.category .box-container .box .cat{
    position: absolute;
    top: 0;
    right: 0;
    width: 28rem;
}

.category .box-container .content{
    position: absolute;
    bottom: 7rem; left:2rem;
}

.category .box-container .content span{
    font-size: 2rem;
    color:var(--orange);
}

.category .box-container .content h3{
    font-size: 3rem;
    color:#3337;
    text-transform: uppercase;
    padding-top: .5rem;
}

.products .product-slider .slide{
    overflow: hidden;
    position: relative;
    border:.1rem solid var(--light-color);
    border-radius: .5rem;
    background: var(--white-color);
}

.products .product-slider .slide .image{
    padding:1rem;
}

.products .product-slider .slide .image img{
    width: 100%;
    object-fit: cover;
}

.products .product-slider .slide .content{
    padding:2rem;
    border-top: .1rem solid var(--light-color);
}

.products .product-slider .slide .icons{
    position: absolute;
    top:0; right:-7rem;
}

.products .product-slider .slide:hover .icons{
    right:1rem;
}

.products .product-slider .slide .icons a{
    height:5rem;
    width:5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
    background: var(--black-color);
    color:var(--white-color);
    display: block;
    margin-top: 1rem;
}

.products .product-slider .slide .icons a:hover{
    background:var(--orange);
    color:#fff;
}

.products .product-slider .slide .content .stars i{
    font-size: 2rem;
    color:var(--orange);
}

.products .product-slider .slide .content .stars span{
    font-size: 2rem;
    color:var(--black-color);
    font-weight: 300;
}

.products .product-slider .slide .content h3{
    color:var(--black-color);
    font-weight: normal;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.products .product-slider .slide .content .price{
    color:var(--orange);
    font-weight: bolder;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.products .product-slider .slide .content .price span{
    color:var(--black-color);
    font-weight: normal;
    font-size: 1.5rem;
    text-decoration: line-through;
}

.products .product-slider .swiper-button-next,
.products .product-slider .swiper-button-prev{
    color:var(--black-color);
}

.products .gap{
    margin-bottom: 2rem;
}

/*fdjsdfddddddddddddddddddd*/

.shop .box-container {
    display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.shop .box-container .box{
    overflow: hidden;
    position: relative;
    border:.1rem solid var(--light-color);
    border-radius: .5rem;
    background: var(--white-color);
}

.shop .box-container .box .image{
    padding:1rem;
}

.shop .box-container .box .image img{
    width: 100%;
    object-fit: cover;
}

.shop .box-container .box .content{
    padding:2rem;
    border-top: .1rem solid var(--light-color);
}

.shop .box-container .box .icons{
    position: absolute;
    top:0; right:-7rem;
}

.shop .box-container .box:hover .icons{
    right:1rem;
}

.shop .box-container .box .icons a{
    height:5rem;
    width:5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
    background: var(--black-color);
    color:var(--white-color);
    display: block;
    margin-top: 1rem;
}

.shop .box-container .box .icons a:hover{
    background:var(--orange);
    color:#fff;
}

.shop .box-container .box .content .stars i{
    font-size: 2rem;
    color:var(--orange);
}

.shop .box-container .box .content .stars span{
    font-size: 2rem;
    color:var(--black-color);
    font-weight: 300;
}

.shop .box-container .box .content h3{
    color:var(--black-color);
    font-weight: normal;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.shop .box-container .box .content .price{
    color:var(--orange);
    font-weight: bolder;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.shop .box-container .box .content .price span{
    color:var(--black-color);
    font-weight: normal;
    font-size: 1.5rem;
    text-decoration: line-thrshop;
}


/* quick view */

.quick-view form{
    padding:2rem;
    border:.1rem solid var(--light-color);
    border-radius: .5rem;
    background-color: var(--white-color);
    margin-top: 1rem;
    margin-bottom: 1rem;

}
 
.quick-view form .row{
    display: flex;
    align-items: center;
    gap:1.5rem;
    flex-wrap: wrap;
}
 
 .quick-view form .row .image-container{
    margin-bottom: 2rem;
    flex:1 1 40rem;
 }
 
 .quick-view form .row .image-container .main-image img{
    height: 40rem;
    width: 100%;
    object-fit: contain;
 }
 
 .quick-view form .row .image-container .sub-image{
    display: flex;
    gap:1.5rem;
    justify-content: center;
    margin-top: 2rem;
 }
 
 .quick-view form .row .image-container .sub-image img{
    height: 7rem;
    width: 10rem;
    object-fit: contain;
    padding:.5rem;
    border:.1rem solid var(--light-color);
    border-radius: 50%;
    cursor: pointer;
    transition: .2s linear;
 }
 
 .quick-view form .image-container .sub-image img:hover{
    transform: scale(1.1);
 }
 
 
.quick-view form .row .content{
    flex:1 1 40rem;
}
 
 .quick-view form .row .content .name{
    font-size: 2rem;
    color:var(--black-color);
    margin-bottom: 1.6rem;
 }
 
 
 .quick-view form .row .qty{
    width: 100%;
    padding:1rem;
    border:.1rem solid var(--light-color);
    font-size: 1.8rem;
    color:var(--black-color);
    border-radius: .5rem;
    margin: 1.6rem 0;
    background-color: var(--white-color);
}
 
 .quick-view form .row .price{
    font-size: 2rem;
    color:var(--orange);
    margin-bottom: 1.6rem;
 }
 
.quick-view form .row .content .details{
    font-size: 1.6rem;
    color:var(--light-color);
    line-height: 2;
}  
 
.quick-view form .row .content .colors-container{
    margin: 2rem 0;
}

.quick-view form .row .content .colors-container span{
    color: var(--black-color);
}

.quick-view form .row .content .colors-container span{
    font-size: 2rem;
}

.quick-view form .row .content .colors-container span h3{
    display: inline-block;
}

.quick-view form .row .content .colors-container .colors {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.quick-view form .row .content .colors-container .color{
    width: 4rem;
    height: 4rem;
    border: .1rem solid var(--light-color);
    border-radius: 50%;
    margin-top: 1rem;
    position: relative;
}

.quick-view form .row .content .colors-container .color:hover{
    cursor: pointer;
    border: .3rem solid var(--black-color);
}
/****************/

.quick-view form .row .content .size-container{
    margin-bottom: 2rem;
}

.quick-view form .row .content .size-container span{
    color: var(--black-color);
}

.quick-view form .row .content .size-container span{
    font-size: 2rem;
}

.quick-view form .row .content .size-container span h3{
    display: inline-block;
}

.quick-view form .row .content .size-container .sizes {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.quick-view form .row .content .size-container .size{
    width: 3.5rem;
    height: 3.5rem;
    border: .2rem solid var(--light-color);
    border-radius: .3rem;
    color: var(--black-color);
    margin-top: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.quick-view form .row .content .size-container .size:hover{
    border: .3rem solid var(--black-color);
    cursor: pointer;
}

/* quick view */

/*cart*/

.shopping-cart .qty{
    width: 80%;
    padding:1rem;
    border:.1rem solid var(--light-color);
    font-size: 1.8rem;
    color:var(--black-color);
    border-radius: .5rem;
    margin: 1.6rem 0;
    background-color: var(--white-color);
}

.shopping-cart .fa-edit{
    height: 4.5rem;
    border-radius: .5rem;
    margin-top: 1rem;
    background-color: orange;
    width: 5rem;
    font-size: 2rem;
    color:var(--white-color);
    cursor: pointer;
}
 
.shopping-cart .fa-edit:hover{
    background-color: var(--black-color);
}

.shopping-cart h4 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.shopping-cart h4 span {
    color: var(--light-bg);
}

 
.shopping-cart .sub-total{
    margin:.5rem 0;
    font-size: 2rem;
    color:var(--light-color);
}
 
.shopping-cart .sub-total span{
    color:var(--orange);
}

.shopping-cart .delete-btn {
    display: block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--orange);
    color:var(--white-color);
    font-size: 1.8rem;
    padding:.9rem 3.5rem;
    cursor: pointer;
}
 
.cart-total{
    max-width: 50rem;
    margin:0 auto;
    margin-top: 3rem;
    background-color: var(--white-color);
    border:.1rem solid var(--light-color);
    border-radius: .5rem;;
    padding:2rem;
    text-align: center;
}
 
.cart-total p{
    font-size: 2.5rem;
    color:var(--black-color);
    margin-bottom: 2rem;
}
 
.cart-total p span{
    color:var(--orange);
}

.delete-btn {
    display: block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--orange);
    color:var(--white-color);
    font-size: 1.8rem;
    padding:.9rem 3.5rem;
    cursor: pointer;
}

.success-btn {
    display: block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: green;
    color:var(--white-color);
    font-size: 1.8rem;
    padding:.9rem 3.5rem;
    cursor: pointer;
}

.option-btn {
    display: block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: orange;
    color:var(--white-color);
    font-size: 1.8rem;
    padding:.9rem 3.5rem;
    cursor: pointer;
}

.option-btn:hover,
.delete-btn:hover,
.success-btn:hover {
    background-color: var(--black-color);
}

/*cart*/

.display-orders{
    text-align: center;
    padding-bottom: 0;
}
 
.display-orders p{
    display: inline-block;
    padding:1rem 2rem;
    margin:1rem .5rem;
    font-size: 2rem;
    text-align: center;
    border:.1rem solid var(--light-color);
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: .5rem;
}
 
.display-orders p span{
    color:var(--orange);
}
 
.display-orders .grand-total{
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
    color:var(--black-color);
}
 
.display-orders .grand-total span{
    color:var(--red);
}

.checkout-orders form{
    padding:2rem;
    border:.1rem solid var(--light-color);
    background-color: var(--white-color);
    border-radius: .5rem;
 }
 
.checkout-orders form h3{
    border-radius: .5rem;
    background-color: var(--black-color);
    color:var(--white-color);
    padding:1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: 2.5rem;
 }
 
.checkout-orders form .flex{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    justify-content: space-between;
 }
 
.checkout-orders form .flex .inputBox{
    width: 49%;
 }
 
.checkout-orders form .flex .inputBox .box{
    width: 100%;
    border:.1rem solid var(--light-color);
    border-radius: .5rem;
    font-size: 1.8rem;
    color:var(--black-color);
    padding:1.2rem 1.4rem;
    margin:1rem 0;
    background-color: var(--light-bg);
 }
 
.checkout-orders form .flex .inputBox span{
    font-size: 1.8rem;
    color:var(--black-color);
 }

.checkout-orders form .delete-btn {
    width: 100%;
}
 

.footer .footer-container{
    background:var(--white-color);
    border:.1rem solid var(--light-color);
    border-radius: .5rem;
    padding:2rem;
}

.footer .footer-container .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .footer-container .box-container .box{
    flex:1 1 25rem;
}

.footer .footer-container .box-container .box h3{
    color:var(--orange);
    font-size: 2.5rem;
    padding:1rem 0;
}

.footer .footer-container .box-container .box a{
    display: block;
    color:var(--black-color);
    font-size: 1.7rem;
    padding:1rem 0;
    font-weight: 300;
}

.footer .footer-container .box-container .box a:hover{
    color:var(--orange);
}

.footer .footer-container .box-container .box a i{
    padding-right: 1rem;
    color:var(--orange);
    transition: .2s linear;
 }
 

.footer .footer-container .box-container .box a:hover i{
    padding-right: 2rem;
 }
 





















/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding:1.5rem;
    }

    section{
        padding:1.5rem;
    }

    .home .content h3{
        font-size: 5rem;
    }

}

@media (max-width:990px){

    header{
        flex-flow: column;
    }

    header form{
        width:100%;
        margin:2rem 0;
    }

    header.active{
        transform: translateY(-12.5rem);
    }

    .home .content{
        text-align: center;
    }

    .home .image img{
        width: 100%;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        text-align: center;
        font-size: 2.5rem;
        border-bottom: none;
    }

    .shop .box-container {
        grid-template-columns: 1fr;
    }

}